$color1:rgb(95, 158, 160);
$color2:rgb(141, 100, 100);
$fontColor1: rgb(255, 248, 220);

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Yu Gothic",Arial, Helvetica, sans-serif;
}

li a {
  text-decoration: none;
  font-size: 30px;
}

ul {
  list-style: none;
}

.menuButton {
  display: block;
  height: 50px;
  width: 60px;
  background-color: $color1;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  &:hover {
    background:  lighten($color1,15%);
  }
  div {
    height: 2px;
    width: 40px;
    background-color: rgb(12, 10, 10);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;

    &:nth-of-type(1) {
      transform: translate(-50%, -15px);
    }

    &:nth-of-type(3) {
      transform: translate(-50%, 15px);
    }
  }

  &.active div {
    &:nth-of-type(2) {
      opacity: 0;
    }

    &:nth-of-type(1) {
      transform: rotate(45deg) translate(-50%, 0);
      transform-origin: 0% 50%;
    }

    &:nth-of-type(3) {
      transform: rotate(-45deg) translate(-50%, 0);
      transform-origin: 0% 50%;
    }
  }
}

nav {
  opacity: 0;
  visibility: hidden;
  transform: translate(20px, -20px);
  transition: .3s;
  position: fixed;
  top: 50px;
  right: 0;
  background-color: rgba(169, 169, 169, 0.8);
  width: 200px;
  padding: 50px 0 100px 0;
  cursor: pointer;
 
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    box-shadow: -1px 1px 5px 1px rgb(49, 48, 48);
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 30;
  }

  li:not(:first-of-type) {
    padding-top: 20px;
  }
}

header {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: rgba($color1,.9);
  z-index: 30;

  h1 {
    display: inline-block;
    background-color: rgba($color2,.9);
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  a {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: $fontColor1;
  }
}

.header-left {
  width: 300px;
  padding-left: 20px;
  cursor: pointer;

  a {
    font-size: 1.5vw;
  }
  & :hover {
    color: #000;
    transition: .3s;
  }
}

.header-right {
  width: 100px;
  text-align: center;
  line-height: 50px;
}

.header-menu {
  width: 400px;
  line-height: 50px;
  margin: 0 auto;
}
.menu {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;

  > li {
    width: 100%;
    &:hover {
      background-color: lighten($color1,15%);
      transition: 0.3s;
    }
  }
}

.drop-menu {
  display: none;
  &.active {
    display: block;
    position: absolute;
    width: 80%;
  }
  li {
    border-bottom: 1px solid black;
  }
  
  > li > a {
    display: block;
    padding: 10px;
    background-color: #ccc;
    opacity: 0.9;
  }
}

.main {
  height: 100vh;
  width: 100%;
  position: relative;
  user-select: none;
}

.main-image {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(../images/IMG_5927.png);
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: $fontColor1;
  background-color:rgba($color2,.9);
  padding: 30px 50px;
}

.br-sp {
  display: none;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: rgba($color1,.9);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 50px;
  margin-left: 30px;
}

.fab {
  padding-top: 10px;
  padding-right: 10px;
  cursor: pointer;
  color: $fontColor1;

  &:hover {
    transform: scale(1.5);
    transition: .3s;
    color:invert($fontColor1,100%);
  }
}

.a {
  background-color: black;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(95, 94, 94);
  opacity: 0;
  z-index: 20;
  visibility: hidden;
  transition: 0.3s;

  &.active {
    opacity: 0.7;
    visibility: visible;
  }
}

/* タブレット表示 */

@media (max-width: 1024px) {
  .header-left {
    width: 250px;
  }

  .main-container h1 {
    font-size: 25px;
  }

  .fab:hover {
    transform: scale(1);
  }

  .br-sp {
    display: inline-block;
  }

  @media (max-width: 479px) {
    .header-menu {
      opacity: 0;
      visibility: hidden;
      width: 0px;
    }

    .main-container {
      h1 {
        font-size: 13px;
      }

      p {
        font-size: 10px;
      }
    }

    .header-left a {
      font-size: 0.1vw;
    }

    .footer-content {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    }

    .fab {
      padding-right: 0;
    }
  }
}